<h2>Lista de categorias</h2>
<hr />
<a href="categorias/add">
  <button class="btn btn-success">Nova categoria</button>
</a>

{{#each categorias}}

  <div class="card mt-3">
    <div class="card-body">
      <h5><b>NOME: </b>{{nome}}</h5>
      <span><b>CATEGORIA: </b>{{slug}}</span>
      <br />
      <small>Criado em: {{date}}</small>
      <br />
      <a href="categorias/edit/{{_id}}">
        <button class="btn btn-sm btn-dark mt-3">Editar categoria</button>
      </a>
    </div>
  </div>

{{else}}

{{/each}}